<a href="https://colab.research.google.com/github/Akshay-PG/Python-Core-Basics/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [2]:
#List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [4]:
#Only accept items that are not "apple":

newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [5]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]

In [11]:
#Return "orange" instead of "banana":

newlist=[x  if x!="orange" else "orange" for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [13]:
#Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [14]:
#Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [15]:
#Set all values in the new list to 'hello':

newlist=['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']